@import "../../scss/variables";

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .cards {
    background-color: $cardNavBgColor;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    &:hover .card-over{
      transform: translateY(0);
    }
  }
  .title {
    color: $backgroundColor;
    font-size: 1rem;
    padding: 1rem;
  }
  img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    transition: all 0.5s;
    &:hover {
      filter: grayscale(100%);
    }
  }
  .card-over {
    color: white;
    position: absolute;
    bottom: 0;
    left: 15px;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.5);
    transform: translateY(100%);
    z-index: 1;
    transition: all 0.7s;

  }
}
