@import "../../scss/variables", "../../scss/mixins";


.navbar {
  background-color: $cardNavBgColor;
  display: flex;
  justify-content: space-evenly;
  a {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    &:hover{
      background-color: $backgroundColor;
      color: $cardNavBgColor;
    }
  }
}

@include media-xsm{
  .navbar{
    flex-direction: column;
  }
}

@include media-md{
  .navbar{
    flex-direction: row;
  }
}
