@import "./scss/reset", "./scss/variables";

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

body{
  font-family: 'Amatic SC', cursive;
  background-color: $backgroundColor;
}

p{
   font-family: 'Hubballi', cursive;
}